.dropdown-notification-menu {
    min-width: 250px;
    max-width: 320px;
}

.dropdown-notification-menu a {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal;
    -webkit-line-clamp: 1;
    line-height: 2 !important;
    padding: 7px 18px !important;
}

.card-profile .card-avatar {
    box-shadow: 0 4px 20px 0 #00000024, 0 7px 10px -5px #52525266;
}

.pay-card {
    padding: 15px 10px;
}

.pay-card ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pay-card ul li {
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
}

.pay-card ul li span {
    font-weight: 500;
}