/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    .clients-item {
        padding: 0 25px;
    }

    .nav-item {
        margin-left: 10px;
    }

    .progress-bar-step p::before {
        letter-spacing: 9px;
    }

    .progress-bar-step p::after {
        letter-spacing: 8px;
    }

    .progress-bar-step p.active::before {
        letter-spacing: 9px;
    }

    .progress-bar-step p.active::after {
        letter-spacing: 8px;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .clients-item {
        padding: 0 25px;
    }

    .cell-phone {
        display: none;
    }

    .navbar-brand {
        max-width: 130px;
    }

    .progress-bar-step p::before {
        letter-spacing: 10px;
        content: '..';
    }

    .progress-bar-step p::after {
        letter-spacing: 10px;
        content: '..';
    }

    .progress-bar-step p.active::before {
        letter-spacing: 10px;
        content: '..';
    }

    .progress-bar-step p.active::after {
        letter-spacing: 10px;
        content: '..';
    }

}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .service-sec {
        padding-top: 75px;
        margin-bottom: 50px;
    }

    .service-sec .col-md-2 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .service-card {
        top: auto;
        margin-bottom: 25px;
    }

    .service-card:hover {
        top: auto;
    }

    .feature-sec {
        padding-bottom: 50px;
        margin-top: 80px;
    }

    .feature-sec .col-md-4 {
        flex: 0 0 auto;
        width: 50%
    }

    .clients-item {
        padding: 0 8px;
        height: 100px;
    }

    .instant-quote {
        width: 100%;
        max-width: 100%;
        border-radius: 0;
        top: 15px;
    }

    .home-banner .banner-content {
        width: 100%;
        padding: 15px;
    }

    .nav-item {
        margin-left: 0px;
        padding: 0;
        margin-bottom: 15px;
    }

    .nav-item .btn-theme {
        width: 100%;
        display: block;
    }

    .cell-phone {
        display: inline-block;
    }

    .feature-item {
        padding-right: 0px;
    }

    .mobile-menu-alt {
        display: block;
        position: relative;
    }

    .services-dropdown {
        position: relative;
        padding: 0;
        box-shadow: none;
        left: 0 !important;
        right: 0 !important;
    }

    .services-item {
        height: 200px;
        overflow-y: auto;
    }

    .services-item li {
        width: 100%;
    }

    .services-item li a {
        text-align: left;
        padding: 8px 0;
        background-color: #fff;
    }

    .services-item li a p {
        font-size: 16px;
        line-height: 20px;
    }

    .services-item li a img {
        display: none;
    }

    header {
        height: auto;
    }

    .progress-bar-step p::before {
        content: '.';
    }

    .progress-bar-step p::after {
        content: '.';
    }

    .progress-bar-step p.active::before {
        content: '.';
    }

    .progress-bar-step p.active::after {
        content: '.';
    }

}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .footer-widget {
        margin-top: 50px;
    }

    .footer-sec {
        padding-top: 50px;
    }

    .footer-contact {
        text-align: center;
        line-height: 2;
        margin-bottom: 25px;
    }

    .progress-bar-step {
        display: table;
        width: 100%;
        text-align: left;
        margin-bottom: 25px;
    }

    .progress-bar-step .step-text {
        width: 100%;
        margin-left: 25px;
        padding: 16px 0;
    }

    .progress-bar-step p {
        display: table-cell;
    }

    .progress-bar-step p::before {
        letter-spacing: 10px;
        content: '.';
        transform: rotate(90deg);
        top: auto;
        bottom: -17px;
        left: 34px;
    }

    .progress-bar-step p::after {
        letter-spacing: 10px;
        content: '.';
        transform: rotate(90deg);
        top: -26px;
        left: 35px;
    }

    .progress-bar-step p.active::before {
        letter-spacing: 10px;
        content: '.';
    }

    .progress-bar-step p.active::after {
        letter-spacing: 10px;
        content: '.';
    }

    .step-progress-area .col-md-2:first-child .progress-bar-step p::before {
        display: block;
    }

    .step-progress-area .col-md-2:first-child .progress-bar-step p::after {
        display: none;
    }

    .step-progress-area .col-md-2:last-child .progress-bar-step p::before {
        display: none;
    }

    .step-progress-area .col-md-2:last-child .progress-bar-step p::after {
        display: block;
    }
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .tracker form {
        display: block;
    }

    .tracker form p {
        padding: 0;
    }

    .tracker form button {
        position: relative;
        padding: 14px;
        border-radius: 0;
        top: auto;
        bottom: auto;
        width: 100%;
        left: auto;
        right: auto;
    }

    .service-sec .col-md-2 {
        flex: 0 0 auto;
        width: 50%;
    }

    .feature-sec .col-md-4 {
        flex: 0 0 auto;
        width: 100%
    }

    .instant-quote p {
        margin-bottom: 30px;
    }

    .step-progress-area {
        padding: 0 50px;
    }
}