* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}

/* *************************************************** */
/* common css */
/* *************************************************** */
*::-moz-selection {
    background: #F94539;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    color: #fff;
    background: #F94539;
    text-shadow: none;
}

::selection {
    text-shadow: none;
    color: #FFF;
    background: #F94539;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
strong,
b,
main,
button,
article,
nav {
    font-family: 'Poppins', sans-serif;
}

button,
button:hover,
button:focus {
    outline: none;
    transition: linear .2s;
}

a {
    color: #28205E;
    transition: linear .2s;
}

a:hover {
    text-decoration: none;
    color: #F94539;
    transition: linear .2s;
}

button:focus {
    outline: none;
}

.btn-theme {
    color: #F94539 !important;
    background-color: #fff;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px 30px !important;
    display: inline-block;
}

.btn-theme.active,
.btn-theme:hover {
    background-color: #F94539;
    color: #fff !important;
    border-color: #F94539;
}

.btn-theme.active:hover {
    background-color: #d30e00;
    border-color: #d30e00;
}

.sec-title {
    margin-bottom: 60px;
}

.sec-title h2 {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #333;
    
}

.text {
    margin-bottom: 30px;
    line-height: 28px;
    letter-spacing: .35px;
    font-weight: 400;
    color: #3a3a3a;
    font-size: 15px;
}

/* *************************************************** */
/* home page css */
/* *************************************************** */
.navbar-brand {
    max-width: 150px;
    padding: 0;
}

.navbar-brand ‍a {}

.navbar-brand ‍a img {
    width: 100%;
}

.navbar-toggler {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler i {
    color: #d30e00;
    font-size: 25px;
}

.home-banner-sec {
    height: 650px;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

header {
    background: #fff;
    box-shadow: 0px 0 8px #00000012;
    position: fixed;
    width: 100%;
    z-index: 1100;
}

header nav {}

.nav-item {
    margin-left: 30px;
}

.nav-item:first-child {
    margin-left: 0;
}

.nav-link {
    color: #333;
    font-size: 16px;
    padding-top: 14px;
}

.nav-link:hover {
    color: #F94539;
}

.nav-link i {
    margin-right: 8px;
}

.home-banner {
    height: 100%;
    position: relative;
    background-image: url(../media/images/banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
}

.home-banner::after {
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.home-banner .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    max-width: 900px;
    width: 900px;
}

.home-banner .banner-content h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: 1px;
}

.home-banner .banner-content h1 span {
    color: #F94539;
}

.home-banner .banner-content p {
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
}

.home-banner .banner-content p strong {}

.tracker {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 5px #0000003d;
    max-width: 550px;
    margin: auto;
    overflow: hidden;
}

.tracker form {
    position: relative;
    display: table;
    width: 100%;
}

.tracker form p {
    margin: 0;
    text-align: left;
    position: relative;
    padding-right: 150px;
}

.tracker form p i {
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translate(0, -50%);
    color: gray;
}

.tracker form p input {
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 16px 15px;
    padding-left: 45px;
}

.tracker form button {
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: -1px;
    width: 150px;
    background-color: #F94539;
    border: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0 4px 4px 0;
    outline: #F94539;
    transition: linear .2s;
}

.tracker form button:hover {
    background-color: #28205E;
    transition: linear .2s;
}

.service-sec {
    margin-bottom: 80px;
}

.service-card {
    color: #F94539;
    text-align: center;
    padding: 20px 15px;
    background: #fff;
    box-shadow: 0 0 65px 0px #0000000d;
    border-radius: 8px;
    position: relative;
    top: -50%;
    transition: cubic-bezier(.46, .03, .52, .96) 0.5s;
    display: block;
}

.service-card .icon {
    font-size: 36px;

}

.service-card .icon i {}

.service-card .title {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}


.service-card:hover {
    transition: cubic-bezier(.46, .03, .52, .96) 0.5s;
    box-shadow: none;
    background-color: #28205E;
    color: #fff;
    top: -75%;
}

.service-counter-sec {
    margin-bottom: 100px;
}

.counter-item {
    margin: 50px 0;
}

.counter-item h3 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    color: #F94539;
    letter-spacing: 1.5px;
    margin-bottom: 8px;
}

.counter-item h5 {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.instant-quote {
    max-width: 920px;
    margin: auto;
    background-color: #28205E;
    box-shadow: 0 5px 15px 0px #f945390d;
    border-radius: 15px;
    padding: 40px 30px;
    position: relative;
    top: 0;
    transition: linear .2s;
}

.instant-quote:hover {
    top: 15px;
    transition: linear .2s;
}

.instant-quote h2 {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #fff;
}

.instant-quote p {
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
}

.instant-quote a {}

.feature-sec {
    margin-top: 150px;
    margin-bottom: 100px;
}

.feature-item {
    display: flex;
    align-items: flex-start;
    letter-spacing: .25px;
    margin-bottom: 40px;
    padding-right: 30px;
}

.feature-item img {
    margin-right: 30px;
    width: 48px;
}

.feature-content {
    max-width: calc(100% - 78px);
}

.feature-content h4 {
    color: #F94539;
    font-size: 20px;
    font-weight: 600;
}

.feature-content p {
    line-height: 26px;
    letter-spacing: .35px;
    font-weight: 400;
    color: #3a3a3a;
    font-size: 14px;
    margin: 0;
}

.partner-sec {}

.partner-content {}

.partner-content h3 {
    letter-spacing: .35px;
    color: #3a3a3a;
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 10px;
}

.partner-content p {
    line-height: 28px;
    letter-spacing: .35px;
    font-weight: 400;
    color: #3a3a3a;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 30px;
}

.partner-content a {}

.clients-item-set {}

.clients-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    padding: 0 50px;
}

.clients-item img {
    width: auto !important;
    display: initial !important;
    filter: grayscale(1);
    opacity: .8;
    transition: linear .2s;
}

.clients-item img:hover {
    filter: none;
    opacity: 1;
    transition: linear .2s;
}

.clients-carousel .owl-dot span {
    height: 14px !important;
    width: 14px !important;
    transition: linear .5s;
}

.clients-carousel .owl-dot.active span {
    width: 45px !important;
    background: #F94539 !important;
    transition: linear .5s;
}

.clients-carousel .owl-dot,
.clients-carousel .owl-dot.active {
    transition: linear .5s;
}

.footer-sec {
    position: relative;
    padding: 150px 0 50px;
    color: #fff;
    background: #1B1E1A;
}

.footer-widget {}

.footer-widget h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #fff;
}

.footer-widget ul {
    padding: 0;
    margin: 0;
    list-style: none;
    column-count: 2;
}

.footer-widget ul li {}

.footer-widget ul li a {
    font-size: 14px;
    display: block;
    padding: 8px 0;
    color: #ffffff80;
    font-weight: 400;
    line-height: 20px;
}

.footer-widget ul li a:hover {
    color: #fffffff2;
}

.footer-bottom {
    border-bottom: 1px solid #ffffff40;
    padding: 70px 0 50px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-logo {}

.footer-contact {
    margin: 0 5px;
    /* display: inline-block; */
    font-weight: 500;
    font-size: 17px;
    text-align: left;
}

.footer-contact span {}

.footer-contact a {
    color: #FFC641;
}

.footer-contact a:hover {
    color: #d30e00;
}

.footer-social {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-social li {
    display: inline-block;
    margin-left: 15px;
}

.footer-social li a {
    background-color: #111311;
    color: #ffffff73;
    font-size: 16px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social li a:hover {
    color: #fff;
    background-color: #0d0e0d;
}

.footer-social li a i {}

.copyright {}

.copyright p {
    font-size: 14px;
    color: #ffffff33;
    margin: 0;
    font-weight: 400;
}

.copyright p a {
    color: #ffffff66;
}

.copyright p a:hover {
    color: #ffffff80;

}

.copyright img {
    display: none;
}

.blog-sec {}

.blog-card {}

.blog-card a {}

.blog-card a img {
    margin-bottom: 30px;
    object-fit: cover;
    width: 100%;
}

.blog-card a h2 {
    color: #333333de;
    font-size: 16px;
    line-height: 24px;
    min-height: 48px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0;
    transition: linear .2s;
}

.blog-card:hover h2 {
    color: #d30e00;
    transition: linear .2s;
}

.blog-card a p {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: .35px;
    font-weight: 400;
    color: #3a3a3a;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-line-clamp: 3;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-weight: 400;
    margin-bottom: 50px;
}

/* ****************************************** */
/* tracking-page */
/* ****************************************** */
.tracking-page {}

.tracking-page .home-banner .banner-content {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    margin: auto;
}

.tracking-page .home-banner {
    background-image: none;
    padding-top: 250px;
    padding-bottom: 180px;
}

.tracking-page .home-banner::after {
    background-color: #F1F3F4;
}

.tracking-page .home-banner .banner-content h1 {
    color: #1B1E1A;
}

.tracking-page .home-banner .banner-content p {
    color: #3a3a3a;
}

.inner-short-text {}

.inner-short-text .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #1B1E1A;
    margin: 0;
    margin-bottom: 15px;
}

.inner-short-text p {
    margin: 0;
}

.inner-short-text .text {
    margin: 0;
    line-height: 1.7;
    letter-spacing: .35px;
    font-weight: 400;
    color: #3a3a3a;
    font-size: 15px;
    margin-bottom: 25px;
}

.inner-short-text p a {
    color: #F94539;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    transition: linear .2s;
}

.inner-short-text p a i {
    margin-left: 10px;
    transition: linear .2s;
}

.inner-short-text p a:hover i {
    margin-left: 15px;
    transition: linear .2s;
}

/* coverage-map page */
.coverage-map {
    max-width: 350px;
    margin: auto;
    margin-bottom: 80px;
}

.all-location {}

.all-location h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 36px;
    color: #1B1E1A;
    margin: 0;
    margin-bottom: 15px;
}

.all-location ul {
    padding: 0;
    margin: 0 0;
    letter-spacing: .35px;
    list-style: none;
    column-count: 5;
}

.all-location ul li {
    color: #1B1E1A;
    margin: 10px 0;
    font-size: 14px;
}

.all-location ul li::before {
    content: '';
    width: 10px;
    height: 10px;
    background: #F94539;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/* tracking-result page */
.step-progress-area {}

.step-progress-bar {}

.progress-bar-step {
    text-align: center;
    position: relative;
}

.progress-bar-step p {
    position: relative;
    background-color: #fff;
    border: 2px solid #F94539;
    height: 72px;
    width: 72px;
    margin: auto;
    border-radius: 50%;
    color: #F94539;
    font-size: 22px;
    margin-bottom: 25px;
}

.progress-bar-step p.active {
    background-color: #00C868;
    color: #fff;
    border-color: #00C868;
    font-size: 28px;
}

.progress-bar-step p.active i::before {
    content: "\f00c";
}

.progress-bar-step p i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress-bar-step h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #333;
}

.progress-bar-step h5 {
    margin: 0;
    font-size: 14px;
    line-height: 1;
    color: #a5a5a5;
    font-weight: 400;
}

.progress-bar-step p::before {
    content: "...";
    font-size: 48px;
    line-height: 0px;
    position: absolute;
    height: 27px;
    color: #F94539;
    letter-spacing: 15px;
    top: 20px;
    left: -10px;
    width: 0;
    transform: rotate(180deg);
}

.step-progress-area .col-md-2:first-child .progress-bar-step p::before {
    display: none;
}

.progress-bar-step p::after {
    content: "...";
    font-size: 48px;
    line-height: 0px;
    position: absolute;
    height: 26px;
    color: #F94539;
    letter-spacing: 13px;
    top: 20px;
    right: -10px;
    width: 0;
}

.step-progress-area .col-md-2:last-child .progress-bar-step p::after {
    display: none;
}

.progress-bar-step p.active::before,
.progress-bar-step p.active::after {
    color: #00C868;
}

/* blog page css */
.blog-page {
    background-color: #F1F3F4;
}

.blog-card-block {
    position: relative;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 15px 65px 0px #0000000d;
    margin-bottom: 30px;
    overflow: hidden;
    transition: linear .3s;
}

.blog-card-block:hover {
    box-shadow: 0 0px 0px 0px #0000000d;
    transition: linear .3s;
}

.blog-card-block a {
    padding-bottom: 30px;
    display: block;
}

.blog-card-block a img {
    width: 100%;
}

.blog-card-block a h2 {
    margin: 0;
    color: #F94539;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 15px 10px;
}

.blog-card-block a p {
    line-height: 21px;
    letter-spacing: .35px;
    font-weight: 400;
    color: #3a3a3a;
    font-size: 14px;
    margin: 0;
    padding: 0 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
}

.blog-cat {
    position: absolute;
    top: 20px;
    right: 20px;
}

.blog-cat a {
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.5px;
    color: #fff;
    background-color: #28205E;
    padding: 10px 15px;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 0px 0 8px #00000012;
}

.blog-details {
    position: relative;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 15px 65px 0px #0000000d;
    margin: 50px 0;
    overflow: hidden;
    padding-bottom: 30px;
}

.blog-details img {
    width: 100%;
}

.blog-details h2 {
    margin: 0;
    color: #F94539;
    font-size: 22px;
    font-weight: 600;
    padding: 25px 25px 5px;
}

.blog-details h3 a {}

.blog-details h3 {
    line-height: 21px;
    letter-spacing: .35px;
    font-weight: 400;
    color: #3a3a3a;
    font-size: 14px;
    margin: 0;
    padding: 0 25px;
}

.blog-details p {
    padding: 0 25px;
}